<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.familyapp2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DocumentActivity"></activity>
        <activity android:name=".PhotoActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".CategoryArtifactActivity"></activity>
        <activity android:name=".ImagesActivity" />
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPwdActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".SettingActivity"/>
        <activity android:name=".AboutUsActivity"/>
        <activity android:name=".MyFamilyCodeActivity"/>
        <activity android:name=".JoinFamilyActivity"/>
        <activity android:name=".PersonalArtifactActivity"/>
        <activity android:name=".editProfileDetailActivity"/>
        <activity android:name=".ProfilePhotoActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>